/* Scope Tiptap content only */
.tiptap h1 {
  @apply text-4xl font-bold mt-5 mb-3;
}

.tiptap h2 {
  @apply text-3xl font-bold mt-5 mb-3;
}

.tiptap h3 {
  @apply text-2xl font-bold mt-4 mb-3;
}

.tiptap p {
  @apply text-base/8 font-normal pb-2;
}

.tiptap li {
  @apply ml-6;
}

.tiptap a {
  @apply text-primary text-zinc-600 hover:text-zinc-500 underline cursor-pointer;
}

.tiptap img {
  @apply max-w-[500px] w-full mx-auto rounded-sm mt-2;
}

.tiptap iframe {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

figure[data-type='captioned-image'] {
  @apply text-center;
}

figure[data-type='captioned-image'] figcaption {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 0.8em;
  font-weight: 400;
}

/* Global class for active buttons (used in menu) */
.is-active {
  @apply bg-muted text-foreground rounded-md;
}
